.env
.env.*
__pycache__/
*.pyc
*.log
node_modules/
.venv/
venv/
.DS_Store
.idea/
.vscode/
*.sqlite3

# Si usas uploads locales
uploads/
# Excel / Word / docs de negocio
*.docx
*.xlsx
*.pptx

# Carpetas de apoyo que no deben subirse
Imagenes/
Proyecto/
